body{
    background-color: cadetblue;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    text-decoration: none;
}
input{
    height:30px;
    width: 200px;
}
.btn{
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: cornflowerblue;
    transform: scale(2.1);
}